<!-- _partial/footer -->
<p><% if (config.author){ %>
  &copy; <%= new Date().getFullYear() %> by <%= config.author %>
  <% } else { %>
  &copy; <%= new Date().getFullYear() %> <%= config.title %>
  <% } %>&nbsp;
  Powered by <a href="http://zespia.tw/hexo/" target="_blank">Hexo</a>, <a href="http://getbootstrap.com/" target="_blank">Bootstrap</a> &amp; <a href="http://github.com/yieme/hexo-theme-freewill/">Freewill</a>
</p>
